{{#description}}
    /* {{{description}}} */
{{/description}}
    @SerializedName("{{name}}")
    var {{{nameInCamelCase}}}: {{#isEnum}}{{datatypeWithEnum}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}