{{#description}}
    /* {{{description}}} */
{{/description}}
    @SerializedName("{{name}}")
    var {{{nameInCamelCase}}}: {{#isEnum}}{{classname}}.{{name}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}? = {{#defaultvalue}}{{defaultvalue}}{{/defaultvalue}}{{^defaultvalue}}null{{/defaultvalue}}